<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/Style.css" class="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- navigation part -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white  border-bottom ">
        <div class="container-fluid mx-5">
            <a class="navbar-brand fs-2" href="#"><i class="fa-solid fa-building-columns text-primary mx-3"></i>Project<span
                    class="text-primary">Work</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5 text-center">
                    <li class="nav-item">
                        <a class="nav-link active text-primary" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navigation part -->
    <!-- slider banner -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active slider-img" data-bs-interval="10000">
                <img src="christopher-campbell-rDEOVtE7vOs-unsplash.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item carousel-container">
                <img src="amy-hirschi-K0c8ko3e6AA-unsplash.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item carousel-container">
                <img src="annie-spratt-QckxruozjRg-unsplash.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- slider banner -->
    <!-- about me -->
    <section class="about  my-5" id="about">
        <div class="container">
            <div class="row text-start">
                <div class="col-sm-12 col-md-5 col-lg-5 col-12 m-auto text-center">
                    <img src="mubariz-mehdizadeh-t3zrEm88ehc-unsplash.jpg" alt="" class="img-fluid img-thumbnail my-4 rounded  own">
                </div>
                <div class="col-sm-12 col-md-7 col-lg-7 col-12 my-3">
                    <h3 class="p-2">Hey there I am <span class="text-primary"> Atanu Kumar Dey</span></h3>
                    <p class="p-2">I am a 2nd year <strong> Computer Science Engineering</strong> Student and now I am
                        having 1 and a half
                        year of experience of<strong> web development</strong> and <strong>android
                            development</strong>.I have learned HTML,CSS and
                        Javascript for the frontend and mongodb and php for backend and also knows kotlin for android
                        development....</p>
                    <button type="button" class="btn btn-light mb-4 bg-primary text-white">Download CV</button>
                    <p>
                        For more information please go through my website
                    </p>
                </div>
                <div class="container my-5">
                    <div class="about-more">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4 col-12 text-center">
                                <img src="index.png" class="about-img img-thumbnail" alt="...">
                                <div class="about-img-title "><strong class="text-primary">Web development</strong>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 col-12 m-auto text-center">
                                <img src="index2.png" height="100%" width="50%" class="about-img img-thumbnail" alt="...">
                                <div class="about-img-title "><strong class="text-primary">Android development</strong>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 col-12 m-auto text-center">
                                <img src="index3.jpg" class="about-img img-thumbnail" alt="...">
                                <div class="about-img-title "><strong class="text-primary">Projects</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about me -->
    <!-- testimonoals  -->
    <section class="testimonials py-3  bg-light" id="testimonials">
        <div class="container testimonials-container">
            <div class="text-center p-4">
                <h2><span class="text-primary">Testimonials</span></h2>
                <hr class="w-25 m-auto">
            </div>
            <div class="row my-3">
                <div class="col-sm-4 col-md-4 col-lg-4 col-12 bg-white py-3">
                    <div class="card-center p-4">
                        <img src="jonas-kakaroto-mjRwhvqEC0U-unsplash.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Message heading</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Reply</a>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-thumbs-up text-light mx-2"></i>Like</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-12 bg-white py-3">
                    <div class="card-center p-4">
                        <img src="kelly-sikkema-JN0SUcTOig0-unsplash.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Message heading</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Reply</a>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-thumbs-up text-light mx-2"></i>Like</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-12 bg-white py-3">
                    <div class="card-center p-4">
                        <img src="christopher-campbell-rDEOVtE7vOs-unsplash.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Message heading</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Reply</a>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-thumbs-up text-light mx-2"></i>Like</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonoals  -->
    <!-- contact us -->
    <section>
        <div class="container">
            <div class="row my-5">
                <div class="col-md-6 col-lg-6 col-md-12 col-12">
                    <div class="text-center ">
                        <h2><span class="text-primary" id="contact">Contact Us</span></h2>
                        <hr class="w-50 m-auto">
                    </div>
                    <div class="form text-center mx-5">
                        <form class="row g-3 my-3">
                            <div class="col-md-6">
                                <label for="validationDefault01" class="form-label">First name</label>
                                <input type="text" class="form-control" id="validationDefault01" placeholder="First Name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="validationDefault02" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="Last Name" required>
                            </div>

                            <div class="col-md-6">
                                <label for="validationDefault02" class="form-label">Last name</label>
                                <input type="email" class="form-control" id="validationDefault02" placeholder="ex: abc@cde.com" required>
                            </div>
                            <div class="col-md-6">
                                <label for="validationDefault05" class="form-label">Contact No</label>
                                <input type="number" class="form-control" placeholder="0000000000" id="validationDefault05" required>
                            </div>
                            <div class="col-12">
                                <label for="exampleFormControlTextarea1" class="form-label">Write your message here</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-md-12 col-12">
                    <div class="text-center ">
                        <h2><span class="text-primary" id="contact">Address</span></h2>
                        <hr class="w-50 m-auto">
                        <div class="text-start">
                            <div class="text-center my-3">To rach us you may use following</div>
                            <p class="py-3"><i class="fa-solid fa-envelopes-bulk mx-3 text-primary"></i><b>Email</b>: deyatanu616@gmail.com</p>
                            <p class="py-3"><i class="fa-solid fa-phone mx-3 text-primary"></i><b>Phone No</b>: 7363906694</p>
                            <p class="py-3"><i class="fa-solid fa-address-card mx-3 text-primary"></i><b>Postal Address</b>: Pokabandh
                                Para,Purulia,Post+Dist: Purulia </p>
                            <p class="py-3"><i class="fa-solid fa-location-crosshairs mx-3 text-primary"></i><b>Pin</b>:723 101</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact us -->
    <!-- footer -->
    <footer class="bg-primary text-center text-white">
        <div class="container p-4">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating social-btn m-1 social-icon" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-floating social-btn m-1 social-icon" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-floating social-btn m-1 social-icon" href="#!" role="button"><i class="fab fa-google"></i></a>
                <a class="btn btn-outline-light btn-floating social-btn m-1 social-icon" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating social-btn m-1 social-icon" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-floating social-btn m-1 social-icon" href="#!" role="button"><i class="fab fa-github"></i></a>
            </section>
            <section class="mb-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                    repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                    eum harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
            </section>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: #0d6efd;">
            © 2020 Copyright messege

        </div>
    </footer>
    <!-- footer -->
</body>

</html>
